/*imports*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500;700&display=swap');

/*fin de imports*/

/*variables*/
:root {
    --principal: #401d36;
    --secondary: #baa1a7;
    --font-primary: 'Oswald', sans-serif;
    --text-lg: 6em;
    --text-md: 4em;
}

/* reset*/
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*fin de reset*/

/*helpers*/

.flex-row{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
}

/*fin de helpers*/


/*General*/

html{
    font-size: 62.5%;
    font-family: var(--font-primary);
    color: white;
    background-color: #BAA1A7;
}

body{
    background: var(--secondary);
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    display: inline-block;
}

/*header*/
img.logo{
    width: 200px;
}

header{
    background-color: var(--principal);
}

header.logo{
    flex-basis: 30%;
}


header .menu{
    flex-basis: 40%;
    justify-content: space-between;
    font-size:1.3em;
}

header .menu__item{
    border: 2px solid var(--principal)  ;
}

header .menu__item:hover{
border-color: var(--secondary);
}

header .navbar{
    min-height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.menu .menu__item .menu__link{
    font-size: 2em;
    padding: 1rem;
}

img.contacto{
    width: 100px;
}

footer{
    background-color: var(--principal);
    min-height: 10vh;
    flex-direction: column;
    align-items: center;
}


/* fin de general*/



/*index*/
.index{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 15vh auto;
    grid-template-areas: 
    "tituloPrincipal tituloPrincipal"
    "textoPrincipal imgPrincipal";
    gap: 2rem;
}

.index__titulo{
    color: #401d36;
    font-size: var(--text-lg);
    text-transform: capitalize;
    justify-content: center;
    grid-area: tituloPrincipal;
}

.index__parrafo{
    font-family:var(--font-primary);
    font-size: var(--text-md);
    grid-area: textoPrincipal;
    color: black;
}

.index__img{
    width: 70%;
    grid-area: imgPrincipal ;
}

/*fin de index*/

/*Inicio Servicios*/

.servicios__titulo{
    color: #401d36;
    font-size: var(--text-lg);
    text-transform: capitalize;
    justify-content: center;
}

.servicios__parteUno{
    gap: 2rem;
    margin: 4rem;
    align-items: center;
}

.parteUno__titulo{
    font-size: var(--text-md);
    color: black;
}

.parteUno__parrafo{
    font-family:var(--font-primary);
    font-size: var(--text-md);
    color: black;
}

.parteUno__img{
    width: 100%;
}

.servicios__parteDos{
   gap: 2rem;
   flex-direction: row-reverse;
   margin: 4rem;
   align-items: center;
}

.parteDos__titulo{
    font-size: var(--text-md);
    color: black;
}

.parteDos__parrafo{
    font-family:var(--font-primary);
    font-size: var(--text-md);
    color: black;
}

.parteDos__img{
    width: 100%;
}

.servicios__parteTres{
    gap: 2rem;
    margin: 4rem;
    align-items: center;
}

.parteTres__titulo{
    font-size: var(--text-md);
    color: black;
}

.parteTres__parrafo{
    font-family:var(--font-primary);
    font-size: var(--text-md);
    color: black;
}

.parteTres__img{
    width: 100%;
}

/*Fin de Servicios*/

/*Inicio de pormociones*/
.promociones{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 15vh auto;
    grid-template-areas: 
    "promoTitulo promoTitulo"
    "parteUno parteDos";
    gap: 2rem
    ;
}

.promociones__titulo{
    grid-area: promoTitulo;
    color: #401d36;
    font-size: var(--text-lg);
    text-transform: capitalize;
    justify-content: center
}

.promociones__parteUno{
    grid-area: parteUno;
}

.parteUnoPromo__titulo{
    font-size: var(--text-md);
    color: black;
}

.parteUnoPromo__parrafo{
    font-family:var(--font-primary);
    font-size: var(--text-md);
    color: black;
}

.parteUnoPromo__img{
width: 100%;
}

.promociones__parteDos{
    grid-area: parteDos;
}

.parteDosPromo__titulo{
    font-size: var(--text-md);
    color: black;
}

.parteDosPromo__parrafo{
    font-family:var(--font-primary);
    font-size: var(--text-md);
    color: black;
}

.parteDosPromo__img{
    width: 100%;
}

/*Fin de promociones*/


/*Galeria*/

.galeria{
    flex-direction: column;
}

.galeria__titulo{
    color: #401d36;
    font-size: var(--text-lg);
    text-transform: capitalize;
    justify-content: center;
}

.galeria__imagenes{
    display: grid;
    align-items: center;
    gap: 1rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "imagen4 imagen1 imagen3"
    "imagen4 imagen2 imagen3"
    "imagen4 imagen5 imagen3";
}

.imagen1{
    grid-area: imagen1;
}

.imagen2{
    grid-area: imagen2;
}

.imagen3{
    grid-area: imagen3;
}

.imagen4{
    grid-area: imagen4;
}

.imagen5{
    grid-area: imagen5;
}

.trabajos{
    width: 100%;
}

/*fin Galeria*/

/*Contacto*/

.contacto{
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.contacto__titulo{
    text-align: center;
    color: #401d36;
    font-size: var(--text-lg);
    text-transform: capitalize;
}

.contacto__formulario{
    box-shadow: 0 0 20px 0 rgba(225, 225, 225, .3);
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.contacto__formulario > *{
    padding: 2em;
}

.contacto__datos{
    background: #64556f;
}

.contacto__datos form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: 
    "nombre email"
    "telefono asunto"
    "mensaje mensaje"
    "boton boton";
}

.nombre{
    grid-area: nombre;
}

.email{
    grid-area: email;
}

.telefono{
    grid-area: telefono;
}

.asunto{
    grid-area: asunto;
}

.mensaje{
    grid-area: mensaje;
}

.boton{
    grid-area: boton;
}


.contacto__datos form p{
    margin: 0;
    padding: 1em;
    color: black;
    font-size: 2em;
}

.contacto__datos form button,
.contacto__datos form input,
.contacto__datos form textarea{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid #baa1a7;
    }

.contacto__datos form button{
    background: #BAA1A7;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contacto__datos form button:hover,
.contacto__datos form button:focus{
    background: #c7b2b6;
    color: white;
    transition: background-color 1s ease-out;
    outline: none;
}


.contacto__info{
    background: #5f3759;
}

.contacto__info h2,
.contacto__info ul,
.contacto__info p{
    padding: 1em;
    text-align: left;
    margin: 0 0 1rem 0;
    font-size: 2em;
    color: black;
}

.contacto__info ul{
    list-style: none;
    padding: none;
}
/* Fin Contacto*/


@media screen and (max-width: 768px) {
    
    
    header{
        padding: 2em;
    }

    .menu{
        font-size: 8em;
    }

    header .navbar{
        justify-content: center;
        flex-direction: column;
    }

    .index{
        display: grid;
        justify-content: center;
        justify-items: center;
        gap: 2rem;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,auto);
        grid-template-areas: 
        "tituloPrincipal"
        "textoPrincipal" 
        "imgPrincipal";
    }

    .index__img{
        flex-grow: 1;
    }

    .servicios__parteUno{
        flex-wrap: wrap;
        justify-content: center;
    }

    .servicios__parteDos{
        flex-wrap: wrap;
        justify-content: center;
    }

    .servicios__parteTres{
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .parteUno__img{
        flex-grow: 1;
    }

    .parteDos__img{
        flex-grow: 1;
    }

    .parteTres__img{
        flex-grow: 1;
    }

    .promociones{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,auto);
        grid-template-areas: 
        "promoTitulo"
        "parteUno"
        "parteDos";

    }

    .promociones__parteUno{
        flex-wrap: wrap;
        justify-content: center;
    }
    .parteUnoPromo__img{
        flex-grow: 1;
    }

    .promociones__parteDos{
        flex-wrap: wrap;
        justify-content: center;
    }

    .parteDosPromo__img{
        flex-grow: 1;
    }

    .galeria__imagenes{
        grid-template-columns: 1fr;
        grid-template-rows: (5,auto);
        grid-template-areas: 
        "imagen4"
        "imagen3"
        "imagen2"
        "imagen1"
        "imagen5";
    }

    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contacto__formulario > *{
        padding: 1em;
    }

    .contacto__info h2,
    .contacto__info ul,
    .contacto__info p{
    text-align: center;
    margin: 0 0 1rem 0;
    font-size: 2em;
    color: black;
    }

    .contacto__formulario{
        display: grid;
        grid-template-columns: 1fr;
    }



}
